
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nanum+Gothic&family=Rubik:wght@300&display=swap');

body {
   background: #202020;
   font-family: 'Inter', sans-serif;
}





// HEADER

.saloon__header {
   background: #111111;
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
   .header {
      width: 1500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__saloon-name {
         cursor: pointer;
         margin-bottom: 25px;
         background: none;
         border: none;
         user-select: none;
         text-decoration: none;
         span:nth-child(1) {
            font-family: 'Nanum Gothic', sans-serif;
            color: #9B2121;
            font-size: 104px;
            transition: .3s;
         }
         span:nth-child(2) {
            color: #F20808;
            font-size: 78px;
         }
         &:hover span:nth-child(1) {
            text-shadow: 0 0 24px #9B2121;
         }
         &:active {
            transform: translateY(2px);
         }
      }
      
      &__saloon-navigation {
         user-select: none;
         ul {
            list-style-type: none;
            display: flex;
            padding: 0;
            li {
               margin-left: 30px;
               .links {
                  font-size: 18px;
                  color: #ffffff;
                  transition: .3s;
                  background: none;
                  border: none;
                  padding: 0;
                  text-decoration: none;
                  cursor: pointer;
                  &:hover {
                     color: #ff0000;
                     text-shadow: 0 0 8px #ff0000;
                  }
                  &__clicked {
                     color: #ff0000;
                     text-shadow: 0 0 8px #ff0000;
                     transition: .3s;
                     background: none;
                     border: none;
                     padding: 0;
                     text-decoration: none;
                     font-size: 18px;
                  }
               }
            }
            li:nth-child(1) {
               margin: 0;
            }
         }
      }
   }
}






// MAIN

.main {
   width: 100%;
   margin-top: 150px;
   &__header{
      &-text {
         color: #ffffff;
         font-size: 58px;
         text-align: center;
         width: 600px;
         display: flex;
         justify-content: center;
         width: 100%;
         margin-bottom: 50px;
         div {
            width: 600px;
         }
      }
      &-slider {
         width: 100%;
         overflow: hidden;
         background: #11111157;
         ul {
            display: flex;
            width: 28.5%;
            padding: 0;
            list-style: none;
            animation: slide 480s infinite linear;
            user-select: none;
            li {
               flex: 1 0 100%;
               filter: grayscale(100%);
               transition: .4s;
               width: 525px;
               height: 505px;;
            }
            li:hover {
               filter: grayscale(65%);
               transform: scale(1.03);
            }
         }
      }
   }
   .main__article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 150px 0;
   }
}







// SERVICESPAGES

.servicesPages {
   margin: 250px 0 350px 0;
   .servicesArticle {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
         color: #ffffff;
         font-size: 52px;
         font-weight: 100;
         margin-right: 900px;
      }
      .content {
         margin-top: 100px;
      }
   }
}





// CONNECTION

.connection {
   color: #ffffff;
   margin: 100px 0 100px 0;
   article {
      .communication {
         margin-left: 140px;
         &__methods {
            display: flex;
            justify-content: center;
            p {
               font-size: 52px;
               width: 500px;
               text-align: center;
            }
         }
         &__communities {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 38px;
            margin-top: 50px;
            &-vk, &-telegram {
               display: flex;
               a {
                  color: white;
                  text-decoration: none;
               }
               img {
                  user-select: none;
                  margin-left: 20px;
               }
            }
            &-telegram {
               margin-top: 25px;
               a {
                  margin-right: 10px;
               }
            }
         }
      }
      .visit {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         margin-top: 100px;
         &__map {
            user-select: none;
         }
         &__address {
            display: block;
            width: 500px;
            font-size: 24px;
            line-height: 1.5;
            color: #ffffff;
            text-decoration: none;
            &:hover {
               text-decoration: underline;
            }
         }
         &__metro {
            display: flex;
            align-items: center;
            margin: 35px 0;
            p {
               font-size: 18px;
            }
            img {
               background: rgba(235, 40, 40, 0.8);
               border-radius: 50%;
               margin-right: 10px;
            }
         }
         &__workTime {
            font-size: 18px;
         }
         &__number {
            font-size: 38px
         }
      }
   }
}





// FOOTER

.saloonFooter {
   .footer {
      display: grid;
      background: #111111;
      width: 100%;
      height: 400px;
      color: #ffffff;
      &__logo {
         padding: 15px 0 0 15px;
         user-select: none;
      }
      span:nth-child(1) {
         display: inline-block;
         font-size: 92px;
         margin: 5px 7px 0 0;
         color: #9B2121;
         transform: translateY(7px);
      }
      span:nth-child(2) {
         font-size: 56px;
         font-weight: 600;
         margin: 5px 7px 0 0;
         font-family: 'Nanum Gothic', sans-serif;
         color: #9B2121;
      }
      span:nth-child(3) {
         font-size: 45px;
         color: #ffffff23;
      }
   }
}





// ANIMATIONS

@keyframes slide {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-600%);
   }
}


