@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nanum+Gothic&family=Rubik:wght@300&display=swap");
body {
   background: #202020;
   font-family: "Inter", sans-serif;
}

.saloon__header {
   background: #111111;
   width: 100%;
   height: 200px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}
.saloon__header .header {
   width: 1500px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.saloon__header .header__saloon-name {
   cursor: pointer;
   margin-bottom: 25px;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}
.saloon__header .header__saloon-name span:nth-child(1) {
   font-family: "Nanum Gothic", sans-serif;
   color: #9B2121;
   font-size: 104px;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.saloon__header .header__saloon-name span:nth-child(2) {
   color: #F20808;
   font-size: 78px;
}
.saloon__header .header__saloon-name:hover span:nth-child(1) {
   text-shadow: 0 0 24px #9B2121;
}
.saloon__header .header__saloon-navigation {
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}
.saloon__header .header__saloon-navigation ul {
   list-style-type: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0;
}
.saloon__header .header__saloon-navigation ul li {
   margin-left: 30px;
   font-size: 18px;
   cursor: pointer;
}
.saloon__header .header__saloon-navigation ul li a {
   color: #ffffff;
   text-decoration: none;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.saloon__header .header__saloon-navigation ul li a:hover {
   color: #ff0000;
   text-shadow: 0 0 8px #ff0000;
}
.saloon__header .header__saloon-navigation ul li:nth-child(1) {
   margin: 0;
}

.saloonMain {
   width: 100%;
   margin-top: 150px;
}
.saloonMain__header-text {
   color: #ffffff;
   font-size: 58px;
   text-align: center;
   width: 600px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   width: 100%;
   margin-bottom: 50px;
}
.saloonMain__header-text div {
   width: 600px;
}
.saloonMain__header-slider {
   width: 100%;
   overflow: hidden;
   background: rgba(17, 17, 17, 0.3411764706);
}
.saloonMain__header-slider ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 28.5%;
   padding: 0;
   list-style: none;
   -webkit-animation: slide 240s infinite linear;
           animation: slide 240s infinite linear;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}
.saloonMain__header-slider ul li {
   -webkit-box-flex: 1;
       -ms-flex: 1 0 100%;
           flex: 1 0 100%;
   -webkit-filter: grayscale(100%);
           filter: grayscale(100%);
   -webkit-transition: 0.4s;
   transition: 0.4s;
   width: 525px;
   height: 505px;
}
.saloonMain__header-slider ul li:hover {
   -webkit-filter: grayscale(65%);
           filter: grayscale(65%);
   -webkit-transform: scale(1.03);
           transform: scale(1.03);
}
.saloonMain .article {
   margin: 250px 0 350px 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.saloonMain .article h2 {
   color: #ffffff;
   font-size: 52px;
   font-weight: 100;
   margin-right: 950px;
}
.saloonMain .article .content {
   margin-top: 100px;
}
.saloonMain .article .content-price {
   text-align: center;
   border-top: 1px solid #ffffff;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   width: 1500px;
   height: 200px;
   color: #ffffff;
   font-size: 24px;
   cursor: pointer;
}
.saloonMain .article .content-price:nth-last-child(1) {
   border-bottom: 1px solid #ffffff;
}
.saloonMain .article .content-price:hover p {
   margin-left: 270px;
   letter-spacing: 2.5px;
   font-weight: 600;
}
.saloonMain .article .content-price p {
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.saloonMain .article .content-price p:nth-child(1) {
   margin-right: 300px;
}
.saloonMain .article .content-price p:nth-child(2) {
   margin-right: 100px;
}
.saloonMain .article .description {
   margin-top: 100px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   font-size: 28px;
   color: #ffffff;
   text-align: center;
   line-height: 1.5;
}
.saloonMain .article .description span {
   color: #C61A1A;
   font-size: 42px;
}
.saloonMain .article .description a {
   color: #ffffff;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.saloonMain .article .description a:hover {
   color: #ff0000;
   text-shadow: 0 0 8px #ff0000;
}

.saloonFooter .footer {
   display: -ms-grid;
   display: grid;
   background: #111111;
   width: 100%;
   height: 400px;
   color: #ffffff;
}
.saloonFooter .footer__logo {
   margin: 15px 0 0 15px;
}
.saloonFooter .footer span:nth-child(1) {
   font-size: 86px;
}
.saloonFooter .footer span:nth-child(2) {
   font-size: 50px;
   font-weight: 600;
   font-family: "nanum gothic", sans-serif;
   margin-bottom: 20px;
}

@-webkit-keyframes slide {
   0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
   }
   16.6% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
   }
   33.2% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
   }
   49.4% {
      -webkit-transform: translateX(-300%);
              transform: translateX(-300%);
   }
   65.6% {
      -webkit-transform: translateX(-400%);
              transform: translateX(-400%);
   }
   81.8% {
      -webkit-transform: translateX(-500%);
              transform: translateX(-500%);
   }
   100% {
      -webkit-transform: translateX(-600%);
              transform: translateX(-600%);
   }
}

@keyframes slide {
   0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
   }
   16.6% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
   }
   33.2% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
   }
   49.4% {
      -webkit-transform: translateX(-300%);
              transform: translateX(-300%);
   }
   65.6% {
      -webkit-transform: translateX(-400%);
              transform: translateX(-400%);
   }
   81.8% {
      -webkit-transform: translateX(-500%);
              transform: translateX(-500%);
   }
   100% {
      -webkit-transform: translateX(-600%);
              transform: translateX(-600%);
   }
}